body {
    background-color: #F8F8F8;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/*Navbar styling ****************************************/
header {
    background-color: #FDFDFD;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}

.settings {
    margin-left: 20px;
}

.youtube-logo {
    display:flex;
    font-size: x-large;
}

.search-bar {
    display:flex;
    background-color: #FFF;
    border-style: solid;
    border-width: 2px;
    border-color: #BBB;
    height: 30px;
}

.search-bar input{
    width: 40em;
    border: none;
    height: 30px;
}

.voice {
    margin-left: 5px;
    margin-right: 30px;
}

.user-account {
    margin-right: 20px;
}

.nav-buttons:hover {
    /*background-color: #CCC;*/
    opacity: 0.6;
}
/*End Navbar styling****************************************/

/*Video Section Styling***************************************/
.container {
    display: grid;
    margin-top: 50px;
    margin-left: 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content max-content auto;
    grid-template-areas: 
    "video sidebar"
    "details sidebar"
    "comments sidebar";
    
}

main {
    background-color: #F8F8F8;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    border-bottom-width: 2px;
    grid-area: video;
    height: 100%
    
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;  
}

.video-title {
    font-size:1.5em;
    margin-bottom:1em;
    padding-top:1em;
    color: #222;
}

.video-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.data-and-buttons{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.data-icons {
    opacity: 0.5;
    width: 1.5em;
    margin: 0px 1em;
}
.data-icons:hover {
    opacity: 0.8;
}

/*End Video Section Styling***********************************/

/*Channel and video details***********************************/
.details {
    background-color: #F8F8F8;
    grid-area: details;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    border-bottom-width: 2px;
    display: flex;
    line-height: 1.5;
}

.channel-icon {
    width: 40px;
    display: block;
    float: left;
    padding-right: 10px;
    margin-top: 15px;
}
.description-text {
    color: #222;
    margin-top:10px;
    margin-bottom:10px;
}

.channel-title {
    font-weight: bold;
    padding-top: 1.5em;
    color: #222;
    font-size: 16px;
}
.show-more{
    width: 10em;
}
.show-more:hover {
    color: #222;
}
/**********************************************************/


/*Comment section styling*************************************/
.comments {
    background-color: #F8F8F8;
    grid-area: comments;
    margin-top: 10px;
}
/*End comment section styling*********************************/

/*Sidebar styling*********************************************/
.sidebar {
    background-color: #F8F8F8;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    
}

.suggestion {
    padding-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    word-wrap: normal;
}

.suggestion-title {
    font-weight: bold;
    padding-top: 1.5em;
    color: #222;
}

.thumbnail {
    display: block;
    float: left;
    padding-right: 10px;
}

.suggestion-filter {
    margin: 8px 15px;
}

.suggestion-buttons {
    background-color: #DDD;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 16px;
    padding: 8px;
}

.suggestion-buttons:hover {
    background-color: #CCC;
}

.live-video{
    color: red; 
}
/*End sidebar styling***************************/